body{
  background-color: #07162A;
}

.Listing {
  display: flex;
  justify-content: space-evenly;
  color: #FFFFFF;
}

.App {
  text-align: center;
}

.score {
  font: normal normal bold 100px/117px Roboto;
  margin-top: 11px;
}

.teamName {
  font-size: 24px;
}

.ListItem {
  text-align: initial;
  padding: 11px 0;
  color: #AAA092;
  background: transparent linear-gradient(90deg, #09182D 0%, #162032 100%) 0% 0% no-repeat padding-box;
  margin-bottom: 5px;
  display: flex;
  width: 350px;
}

.column {
  display: inline-block;
  background: linear-gradient(90deg, #08182B 0%, #1B4853 49%, #061427 100%) 0% 0% no-repeat padding-box;
  margin-top: 9px;
}

.number{
  margin: 0 20px;
  color: #CED2DB;
  font-weight: bold;
  font-size: 18px;
}